.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(229, 226, 226);
}

.div_principal {
  position: absolute;
	height: 500px;
	width: 700px;
	left: 40%;
	top: 20%;
	margin-top: -100px;
	margin-left: -150px;
  /* background-color: beige; */
  
}

.div_titulo {
  padding-left: 2%;
}

.input_general {
  padding-left:2%;
  padding-right:2%;
  max-width:100%;
  position: relative;
}

.input_text {
  width:80%;
  border-radius: 11px;
  padding:1%;
  padding-left:7%;
  
}

#icon {
  position:absolute;
  display:block;
  right: 41rem;
  cursor:pointer;
  padding-top:4px;
}

.grupo {
  padding-left: 2%;
  display:flex;
}

.boton {
  height: 30px;
  margin-top: 25px;
  margin-left:10%;
  font-weight: bolder;
  padding-left: 7%;
  padding-right:7%;
  cursor:pointer;
  border-radius: 7px;
}

.boton:focus {
  background-color: rgb(15, 157, 88);
  color: white;
}

.div1, .div2, .div3 {
  float:left;
  padding-left:2%;
  font-size: smaller;
}

.div2{
  width:40%;
}

.card {
  margin-left:2%;
  padding-left:2%;
  width: 70%;
  background-color: #e5eef0;
  height: 200px;
  border-radius: 11px;
  border-width: 1px;
  border-color: black;
  box-shadow: 2px 2px 2px 1px #282c34;
}

.titulo_pais{
  padding-top:1%;
}

.div0.h6, .div0.h4 {
  float:left;
}

